@import 'src/style/variables';

.auth-page {
  .hero {
    background: #F2F6FA;

    .nav {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .box {
    margin-top: 5rem;
  }
  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;

    img {
      height: 128px;
      width: 128px;
      padding: 5px;
      background: #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
      box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
  }
  input {
    font-weight: 300;
  }
  p {
    font-weight: 700;

    .subtitle {
      padding-top: 1rem
    }
  }

  .auth-hr {
    border-bottom: 1px solid black;
  }

  .field {
    padding-bottom: 10px;
  }

  .icon {
    margin-left: 5px;
  }

  .error {
    color: crimson;
    text-align: center;
  }
}
