// Page Structure
.page {
  @apply mt-16 ml-12 mb-8;
}

.main-content {
  @apply flex flex-col content-center mx-auto px-3 w-5/6 overflow-auto;
}

.page-heading {
  @apply text-3xl text-deep-space-sparkle tracking-wide font-medium my-5;
}

.search-bar {
  @apply my-5 shadow appearance-none border flex bg-white rounded w-full py-2 px-3 text-gray-700 leading-tight;

  &:focus-within {
    @apply outline-none shadow-outline;
  }
}

.create-bar {
  @apply flex flex-col pb-2 items-baseline items-start border-b border-gray-300;
}

.user-path {
  @apply text-left font-medium text-sm text-deep-space-sparkle py-2 border-b border-gray-300;
}

@screen md {
  .create-bar {
    @apply flex flex-row justify-between;
  }
}

.error {
  @apply text-red-500 my-2;
}

.my-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Don't hate me for messing with your CSS plz
.tooltip .tooltip-text {
  @apply invisible text-center py-1 px-1 absolute z-50;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}

.tooltip-text {
  @apply bg-gray-600 border rounded border-gray-300 text-white -mt-8 -ml-40;
  opacity: 0.85;
}

.loader {
  border: 16px solid #909090; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

//# Animations
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
