// Page Structure
.page {
  @apply mt-16 ml-12;
}

.main-content {
  @apply flex flex-col content-center mx-auto w-5/6 overflow-auto;
}

.page-heading {
  @apply text-3xl text-deep-space-sparkle tracking-wide font-medium my-5;
}

.search-bar {
  @apply my-5 shadow appearance-none border flex bg-white rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.create-bar {
  @apply flex flex-col pb-2 items-baseline items-start border-b border-gray-300;
}

.search-bar:focus {
  @apply outline-none shadow-outline;
}

.user-path {
  @apply text-left font-medium text-sm text-deep-space-sparkle py-2 border-b border-gray-300;
}

@screen md {
  .create-bar {
    @apply flex flex-row justify-between;
  }
}

.my-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Don't hate me for messing with your CSS plz
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
