@charset "utf-8";
@import 'variables';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import 'buttons';
@import 'form';
@import 'issuesBoard';
@import 'listItems';
@import 'modal';
@import 'navigation';
@import 'utilities';
@import 'login';
@import 'list';

// NB: Must be placed after all custom utilities made with Tailwind
@import '~tailwindcss/utilities';

.is-clickable {
  cursor: pointer;
}

html,
body,
#app,
.App {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  //overflow-y: hidden;
}
.App {
  display: flex;
}

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
